.search-container {
	background-color: black;
	width: 100%;
	min-height: 64vh;
	text-align: center;
	padding: 100px 40px 0;
}

.no-results {
	display: flex;
	justify-content: center;
	align-content: center;
	color: #c5c5c5;
	height: 100%;
	padding: 8rem;
}

.movie {
	flex: 1 1 auto;
	display: inline-block;
	padding-right: 0.5rem;
	padding-bottom: 7rem;
}

.movie_column-poster {
	cursor: pointer;
	transition: transform ease-in 0.15s;
	-webkit-transition: transform ease-in 0.15s;
	overflow-x: none;
}

.movie_column-poster:hover {
	transform: scale(1.2);
	overflow-x: none;
}

.movie_poster {
	width: 90%;
	border-radius: 5px;
}