.banner {
	display: flex;
	flex-direction: column;
	width:100%;
	min-height: 64vh;
	padding-left: 4rem;
	object-fit: contain;
	color:white;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner__contents {
	display: flex;
	flex-direction: column;
	padding-top: 140px;
	width: 40%;
}
.banner__title{
	font-size: calc(1.8rem + 0.5vw);
	margin-bottom: 1rem;
}
.banner__buttons{
	display: flex;
	margin-bottom: 2.5rem;
}
.banner__button{
	display: flex;
	border:none;
	font-size: calc(0.7rem + 0.6vw);
	font-weight: bold;
	border-radius: 8px;
	padding: 0.6rem 1.5rem;
	margin-right: 0.8rem;
	text-align: center;
	white-space: nowrap;
}
.play{
	background-color: white;
}
.play:hover{
	color: #000;
	background-color: rgba(170, 170, 170, 0.9);
	transition: all 0.2s;
}
.info{
	color: white;
	background-color: rgba(74, 74, 74, 0.8);
}
.info:hover {
	background-color: rgba(74, 74, 74, 0.5);
	color: white;
}

.banner__description{
	font-size: calc(0.6rem + 0.6vw);
	line-height: normal;
	opacity: 0.8;
	font-weight: 500;
	/* 여러줄로 텍스트 자르기 */
	width: 100%;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 5; /* 텍스트를 자를때 원하는 단위 => 5줄, 이 이상의 길이는 ...으로 표시된다. */
	-webkit-box-orient: vertical;/* content를 가로 또는 세로로 배치할지 여부를 결정하는 속성 */
	overflow: hidden;
	
}

.banner__fadeBottom {
	flex-grow: 1;
	background-image: linear-gradient(180deg,
			transparent,
			rgba(37, 37, 37, 0.61),
			#111);
	margin-left: -4rem;
}

@media (min-width:1200px) {
	.banner{
		height: 40vmax;
	}

	.banner__description{
		-webkit-line-clamp: 6;
	}

}