.nav{
	display: flex;
	position: fixed;
	justify-content: space-between;
	width: 100%;
	height: 90px;
	z-index: 1000;
	transition: all 0.5s;
	transition-timing-function: ease-in;
	align-items: center;
}

.nav--black{
	background-color: #111;
}

.nav__logo{
	width: 120px;
	height: 100%;
	cursor: pointer;
	flex-shrink:0;
	margin-left: 4rem;
	margin-right: 2rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.navSecondary{
	display: flex;
	margin-right: 4rem;
	align-items: center;
	justify-content: center;
}

.nav__profileIconImg{
	width: 45px;
	height: 45px;
	border-radius: 8px;
	cursor: pointer;
}

.navSecondary__searchForm{
	display: flex;
	position: relative;
	margin-right: 1vw;
	min-width: 300px;
}

.navSecondary__searchForm--input{
	flex: 1 1 auto;
	width: 0%;
	opacity: 0;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	border: solid 1.5px rgba(255, 255, 255, 0.8);
	padding: 10px 14px 10px 40px;
	transition: ease width 0.8s, ease opacity 0.8s;
}

.navSecondary__searchForm--icon {
  position: absolute; 
  top: 7px; 
  color: white;
  z-index: 1000;
  cursor: pointer;
  right: 12px;
  transition: ease transform 0.8s;
  transition-delay: 40ms;
}

.navSecondary__searchForm--icon{
	color:#fff;
	opacity: 0.8;
	font-size: 1.5rem;
}

.active__icon {
  transform: translateX(-250px);
}

.active__input {
  opacity: 1;
  width: 100%;
}

