.row {
	margin-left: 20px;
	margin-bottom: 30px;
	color: white;
}

.row__subTitle{
	padding-left: 10px;
	/* padding: 10px 10px 10px 20px; */
	/* font-size: 1.8rem; */
}

.row__slider {
	position: relative;
}

.row__slider:hover .slider__arrow--left {
	transition: 400ms all ease-in-out;
	visibility: visible;
}

.row__slider:hover .slider__arrow--right {
	transition: 400ms all ease-in-out;
	visibility: visible;
}

.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px 0 20px 20px;
	scroll-behavior: smooth;
}

.row__posters::-webkit-scrollbar {
	/* 가로 스크를 모양을 가린다 
	=> 양쪽 slider_arrow 버튼으로 스크롤을 동작시키기 위해(커스텀 스크롤) */
	display: none;
}

.row__poster {
	object-fit: cover;
	width: 100%;
	max-height: 144px;
	margin-right: 10px;
	transition: transform 450ms;
	border-radius: 8px;
}

.row__poster:hover {
	transform: scale(1.1);
}

.row__poster--large {
	max-height: 320px;
}

.row__poster--large:hover {
	transform: scale(1.1);
	opacity: 1;
}

@media screen and (min-width: 1200px) {
	.row__poster {
		max-height: 160px;
	}

	.row__poster--large {
		max-height: 360px;
	}
}

@media screen and (max-width: 768px) {
	.row__poster {
		max-height: 100px;
	}

	.row__poster--large {
		max-height: 280px;
	}
}
.row__mySwiper{
	padding:1.2rem 0.5rem;
	z-index: 2;
}

/* Swiper 모듈 자체 className을 사용해서 custom css적용 */
.swiper-pagination {
	/* !important는 덮어쓰기할때 사용 */
	text-align: right !important;
}

.swiper-pagination-bullet {
	background: gray !important;
	opacity: 1 !important;
}

.swiper-pagination-bullet-active {
	background: white !important;
}

.swiper-button-prev {
	color: white !important;
}

.swiper-button-next {
	color: white !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-size: 1.3rem !important;
	font-weight: 600 !important;
}